/** {
  border: 1px solid red;
}*/
body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  margin: 0;
}
/*body:after {
  clear: both;
  content: "";
  display: block;
}*/

#input-section {
  background: #455A64;
  width: 50%;
  height: 100vh;
  display: flex;
}

#bookmark-section {
  background: #CFD8DC;
  width: 50%;
  height: 100vh;
}

.main-header {
  width: 96%;
  height: 50%;
  margin: auto;
  display: block;
  text-align: center;
}

h1 {
  font-size: 250%;
  color: white;
  margin: 0;
  display: inline-block;
}

img {
  width: 65px;
  height: 35px;
}

.website-detail-inputs input {
  display: block;
  width: 295px;
  margin: 5px auto;
}

#enter-button {
  width: 304px;
}
/*MEDIA SCREEN STYLING*/
@media screen and (max-width: 550px) {
  body {
    display: block;
  }
  #bookmark-section, #input-section {
    width: 100%;
  }
  .main-header {
    align-items: flex-start;
  }
  h1 {
    font-size: 200%;
  }
  img {
    height: 45px;
    width: 45px;
  }
}
